.football-pitch {
    background-color: $pitch-color;
    height: 700px;
    width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.player {
    width: 60px;
    height: 80px;
    background-color: $secondary-color;
    position: absolute;
    cursor: pointer;
}